bazel-*
**/.DS_Store
!vendor/*

/bin
/protoc-gen-validate

/python/LICENSE
/python/validate.proto
/python/dist/
*.egg-info/
__pycache__/
*.py[cod]

/tests/proto/base/go
/tests/proto/gogo
/tests/proto/other_package/go
/tests/proto/other_package/gogo
/tests/proto/yet_another_package/go
/tests/proto/yet_another_package/gogo
/tests/harness/go/harness.pb.go
/tests/harness/go/main/go-harness
/tests/harness/go/main/go-harness.exe
/tests/harness/gogo/harness.pb.go
/tests/harness/gogo/main/go-harness
/tests/harness/gogo/main/go-harness.exe
/tests/harness/cc/cc-harness
/tests/harness/cc/cc-harness.exe

/validate/__pycache__

/tests/proto/**/*.cc
/tests/proto/**/*.h

/java/.idea
/java/**/.project
/java/**/*.iml
/java/**/target
/java/**/*.class
.vscode
.project
.classpath
.settings
.idea/
.ijwb/
