bazel-*
**/.DS_Store
!vendor/*

/bin
/protoc-gen-validate

/python/LICENSE
/python/validate.proto
/python/dist/
*.egg-info/
__pycache__/
*.py[cod]

/test/gen/**/*
/test/harness/go/harness.pb.go
/test/harness/go/main/go-harness
/test/harness/go/main/go-harness.exe
/test/harness/gogo/harness.pb.go
/test/harness/gogo/main/go-harness
/test/harness/gogo/main/go-harness.exe
/test/harness/cc/cc-harness
/test/harness/cc/cc-harness.exe

/validate/__pycache__

/tests/harness/cases/**/*.cc
/tests/harness/cases/**/*.h

/java/.idea
/java/**/.project
/java/**/*.iml
/java/**/target
/java/**/*.class
.vscode
.project
.classpath
.settings
.idea/
.ijwb/
